<div class="container">
  <h1>Add cocktail</h1>
  <%= link_to "Back", cocktails_path %>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :image, label: "Image URL" %>
    <%= f.submit "Submit cocktail", class: "btn btn-secondary" %>
  <% end %>
</div>
