<div class="container">
  <div>
    <h1><%= @cocktail.name %></h1>
    <span>
      <%= link_to new_cocktail_dose_path(@cocktail) do  %>
        Add ingredient
        <%= icon("fas", "blender") %>
      <% end %>
    </span>
    <span>  |  </span>
    <span>
      <%= link_to cocktails_path do  %>
        Back
        <%= icon("fas", "undo-alt") %>
      <% end %>
    </span>
  </div>

  <br>

  <div>
    <h3>Ingredients</h3>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %> - <%= dose.ingredient.name %> <%= link_to "(Delete ingredient)", dose_path(dose), method: :delete %></li>
      <% end %>
    </ul>
  </div>
</div>
